/* Estilo para el input nombre */
#nombre {
    margin-bottom: 10px;

    width: 200px;

    padding-left: 10px;
}

/* Estilo para el input descripcion */
#descripcion {
    margin-bottom: 10px;

    width: 220px;

    padding-left: 10px;
}

/* Estilo para el input puntuacion */
#puntuacion {
    margin-bottom: 10px;

    width: 260px;

    padding-left: 10px;
}

/* Estilo para el boton para crear practicas */
#Si {
    background-color: #3072ed;
    color: white;

    border: none;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    border-radius: 2px;

    width: 80px;
    height: 30px;

    margin-left: 50px;
}

/* Estilo para el boton de crear practicas cuando el raton pase por encima */
#Si:hover {
    background-color: #6593e8;

    cursor: pointer;
}

/* Estilo para el boton para volver a la paguina del ranking */
#No {
    border-radius: 2px;

    color: white;
    background-color: rgb(23, 168, 23);

    border: none;

    margin-left: 20px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    width: 80px;
    height: 30px;
}

/* Estilo para el boton de volver a la paguina del ranking cuando el raton pase por encima */
#No:hover {
    background-color: rgb(151, 213, 151);

    cursor: pointer;
}