<div id="navegador">
    <p id="bienvenida" *ngFor="let dato of datos">Bienvenido al ranking <b>{{nombre}}</b></p>

    <button id="practica" *ngIf="info.role === 'Profesor' && element == true" (click)="openDialog()">
        <b>Crear Practica</b>
    </button>

    <button *ngIf="element == true" id="perfil" routerLink="../perfil" routerLinkActive="active">
        <b>Perfil</b>
    </button>

</div>

<table id="InfoUser" *ngIf="info.role === 'Alumno'">
    <tr>
        <th id="th">Nick:</th>
        <th id="th">Puntos:</th>
    </tr>
    <tr *ngFor="let dato of datos">
        <td id="td">{{dato.mote}}</td>
        <td id="td">{{dato.puntos}}</td>
    </tr>
</table>

<table id="InfoUser" *ngIf="info.role === 'Profesor'">
    <tr>
        <th id="th">Nick:</th>
        <th id="th">Nombre:</th>
        <th id="th">Apellidos:</th>
        <th id="th">Puntos:</th>
    </tr>
    <tr *ngFor="let dato of datos">
        <td id="td">{{dato.mote}}</td>
        <td id="td">{{dato.name}}</td>
        <td id="td">{{dato.lastname}}</td>
        <td id="td">{{dato.puntos}}</td>
    </tr>
</table>

<table *ngIf="info.role === 'Profesor'" id="Entregas">

    <tr>

        <th>Practica</th>

        <td>
            <button id="Entrar" routerLink="../ranking" routerLinkActive="active">
                Entrar
            </button>
        </td>

    </tr>

</table>