<div id="navegador" *ngFor="let datos of info">
    <ul>
        <li id="bienvenida">Bienvenido a tu perfil <b>{{datos.mote}}</b></li>
        <li>
            <button id="rankingbutton" *ngIf="datos.rol === 'Alumno'"><b>Añadirse en un nuevo ranking</b></button>
        </li>
        <li>
            <button id="logout" (click)="logout()"><b>Logout</b></button>
        </li>
    </ul>
</div>
<div id="Usuario" *ngFor="let datos of info">
    <img id="ProPic"
        src="Https://pbs.twimg.com/ext_tw_video_thumb/1620310062433435648/pu/img/xlFGPbn8IyghBE90.jpg:large"
        alt="FotoHumanoNormal">
    <h1><b>Nick: {{datos.mote}}</b></h1>
    <p>{{datos.rol}}</p>
</div>
<table id="InfoUser" *ngFor="let datos of info">
    <tr>
        <th id="th">Nombre:</th>
        <td id="td">{{datos.name}}</td>
    </tr>
    <tr>
        <th id="th">Apellidos:</th>
        <td id="td">{{datos.lastname}}</td>
    </tr>
    <tr>
        <th id="th">Email:</th>
        <td id="td">{{datos.email}}</td>
    </tr>
    <tr *ngIf="datos.centro != null">
        <th id="th">Centro:</th>
        <td id="td">{{datos.centro}}</td>
    </tr>
    <tr *ngIf="datos.date != null">
        <th id="th">Fecha de nacimeinto:</th>
        <td id="td">{{datos.date}}</td>
    </tr>
    <tr>
        <th>Contraseña:</th>
        <td [formGroup]="cambiarContra">
            <button id="BtnPsw" *ngIf="element == true" (click)="showButton()"><b>Cambiar contraseña</b></button>
            <input id="contraseña" formControlName="newpassword" type="password" *ngIf="element == false"
                placeholder="Ponga su nueva contraseña">
            <br>
            <button id="Si" *ngIf="element == false" (click)="changepassword(); hideButton()"><b>Si</b></button>
            <button id="No" *ngIf="element == false" (click)="hideButton()"><b>No</b></button>
        </td>
    </tr>
</table>
<div *ngFor="let datos of info">
    <div *ngIf="datos.rol === 'Alumno'" id="Ranking">
        <p> Posicion 1 </p>
        <p> Posicion </p>
        <p> Posicion </p>
        <p> Posicion </p>
        <p> Posicion </p>
        <p> Posicion 6</p>
    </div>
</div>