<ul>
    <li *ngFor="let alumno of alumnos">
        <p>{{alumno.mote}}</p>
        <p>{{alumno.email}}</p>
        <p>{{alumno.password}}</p>
        <p>{{alumno.name}}</p>
        <p>{{alumno.lastname}}</p>
        <p>{{alumno.date}}</p>
    </li>
</ul>

<ul>
    <li *ngFor="let profesor of profesores">
        <p>{{profesor.mote}}</p>
        <p>{{profesor.email}}</p>
        <p>{{profesor.password}}</p>
        <p>{{profesor.name}}</p>
        <p>{{profesor.lastname}}</p>
        <p>{{profesor.centro}}</p>
    </li>
</ul>