<!-- Titulo de la pestaña -->
<h2 mat-dialog-title>Actualizar un Ranking</h2>

<!-- Div con los inputs del fromGroup -->
<div mat-dialog-content [formGroup]="EditRanking">
    <label>Que nuevo nombre quieres ponerle al ranking: {{nombre}}?</label>
    <input id="nombre" formControlName="nombre" type="text" placeholder="Ponga el nuevo nombre del ranking">
</div>

<!-- Div con los botones para crear la practica o para volver a la paguina del ranking. -->
<div mat-dialog-actions id="botones">
    <!-- Boton para crear la practica -->
    <button id="Si" mat-button [disabled]="!EditRanking.valid" (click)="EditarRanking()">
        <b>Guardar</b>
    </button>
    <!-- Boton para volver al ranking -->
    <button id="No" mat-button (click)="onBackClick()">
        <b>Volver</b>
    </button>
</div>