<!-- Titulo de la pestaña -->
<h2 mat-dialog-title>Editar una Puntuación</h2>

<!-- Div con los inputs del fromGroup -->
<div mat-dialog-content [formGroup]="EditPuntuacion">
    <label>Que nota le pondras a la entrega del alumno: {{nombre}} {{apellido}}</label>
    <input id="nombre" formControlName="nota" type="text" placeholder="Ponga la nota de la practica: ">
</div>

<!-- Div con los botones para crear la practica o para volver a la paguina del ranking. -->
<div mat-dialog-actions id="botones">
    <p id="error" *ngIf="element1 == true"><b>¡¡Estas poniendo una nota más alta que la nota máxima!!</b></p>
   
    <p id="error" *ngIf="element2 == true"><b>¡¡No se puede pasar una nota menor o igual a 0!!</b></p>
    <!-- Boton para crear la practica -->
    <button id="Si" mat-button [disabled]="!EditPuntuacion.valid" (click)="EditarRanking()">
        <b>Guardar</b>
    </button>
    <!-- Boton para volver al ranking -->
    <button id="No" mat-button (click)="onBackClick()">
        <b>Volver</b>
    </button>
</div>