<!-- Titulo de la pestaña -->
<h2 mat-dialog-title>Repartir Puntos</h2>

<!-- Div con los inputs del fromGroup -->
<div mat-dialog-content>
    <form [formGroup]="puntosSoftskills">
        <label>A que alumno quieres darle tus puntos?</label>
        <select #mote (change)="confirmarAlumno(mote)">
            <ng-container *ngFor="let dato of motes; index as i">
                <option value="{{dato[i]?.id_usuario}}">
                    {{dato[i]?.mote}}
                </option>
            </ng-container>
        </select>
        <br>
        <label>A que soft skill le quieres ponerle los puntos?</label>
        <select #rango (change)="confirmarSoftSkill(rango)">
            <option>
                Responsabilidad
            </option>
            <option>
                Cooperacion
            </option>
            <option>
                Autonomia_e_iniciativa
            </option>
            <option>
                Gestion_emocional
            </option>
            <option>
                abilidades_de_pensamiento
            </option>
        </select>
        <br>
        <label>Cuantos puntos le quieres dar?</label>
        <input formControlName="puntos">
    </form>
</div>

<!-- Div con los botones para crear la practica o para volver a la paguina del ranking. -->
<div mat-dialog-actions id="botones">
    <!-- Boton para volver al ranking -->
    <p *ngIf="element == true"><b>¡¡Estas pasando demasiados puntos!!</b></p>
    <button id="Si" [disabled]="!puntosSoftskills.valid" mat-button (click)="EnviarPuntos(mote, rango)">
        <b>Enviar</b>
    </button>

    <button id="No" mat-button (click)="onBackClick()">
        <b>Volver</b>
    </button>
</div>